<div class="bg-gray-900 rounded-lg shadow-lg flex flex-col items-center border-2 border-gray-800
            w-[95vw] h-[85vh] 
            sm:w-[80vw] sm:h-[80vh]
            md:w-[70vw] md:h-[75vh]
            lg:w-[60vw] lg:h-[70vh] relative">

    <!-- Header superior -->
    <div class="flex w-full items-center justify-between p-2 sm:p-4 border-b border-red-700">

        <!-- Timer -->
        <div class="flex items-center gap-1 sm:gap-2 bg-red-600 px-2 sm:px-3 py-1 rounded-full shadow-md">
            <span class="material-icons text-blue-400 text-base sm:text-lg">timer</span>
            <span class="text-sm sm:text-lg font-bold text-white">{{ time }}</span>
        </div>

        <!-- Vidas -->
        <div class="flex items-center gap-0.5 sm:gap-1">
            @for (life of livesArray; track $index) {
            <span class="material-icons text-red-500 text-base sm:text-xl">favorite</span>
            }
        </div>

        <!-- Score -->
        <div
            class="bg-red-600 text-white text-xs sm:text-sm md:text-base font-semibold rounded-full px-2 sm:px-3 py-1 flex items-center gap-1 shadow-md">
            <span class="material-icons text-yellow-400 text-base sm:text-lg">emoji_events</span>
            {{ score }}
        </div>
    </div>

    <!-- Controles fijos abajo a la izquierda -->
    <div class="absolute bottom-2 sm:bottom-4 left-2 sm:left-4 flex gap-2 sm:gap-3">
        @if (paused) {
        <button (click)="resume()"
            class="bg-red-600 text-white rounded-full p-2 sm:p-3 flex items-center justify-center hover:bg-red-700 transition shadow-md">
            <span class="material-icons text-base sm:text-lg">play_arrow</span>
        </button>
        } @else {
        <button (click)="pause()"
            class="bg-red-600 text-white rounded-full p-2 sm:p-3 flex items-center justify-center hover:bg-red-700 transition shadow-md">
            <span class="material-icons text-base sm:text-lg">pause</span>
        </button>
        }
        <button (click)="requestExit()"
            class="bg-red-600 text-white rounded-full p-2 sm:p-3 flex items-center justify-center hover:bg-red-700 transition shadow-md">
            <span class="material-icons text-base sm:text-lg">logout</span>
        </button>
    </div>
    @if (showConfirmExit()) {
    <app-confirm-dialog title="¿Deseas salir del juego?" message="Perderás el progreso actual."
        (confirm)="confirmExit()" (cancel)="cancelExit()">
    </app-confirm-dialog>
    }
</div>