<div class="page-wrapper flex flex-col items-center justify-center h-screen px-4 text-white bg-[url('/ruta/fondo.jpg')] bg-cover bg-center">
    
    <div class="segment-wrapper w-full max-w-md mb-6 flex justify-center space-x-4">
        <button [class.bg-red-600]="show === 'login'" [class.text-white]="show === 'login'"
            class="px-4 py-2 rounded-lg bg-gray-800 hover:bg-gray-700 transition"
            (click)="show = 'login'">
            Login
        </button>
        <button [class.bg-red-600]="show === 'register'" [class.text-white]="show === 'register'"
            class="px-4 py-2 rounded-lg bg-gray-800 hover:bg-gray-700 transition"
            (click)="show = 'register'">
            Registro
        </button>
    </div>

    <div class="w-full flex justify-center">
        @if (show === 'login') {
            <app-login></app-login>
        }
        @if (show === 'register') {
            <app-register></app-register>
        }
    </div>

</div>
